@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fcfcfc;
}

a {
  text-decoration: none;
  color: unset;
}

.fa-car,
.fa-shield-halved {
  color: #df2020;
}

.fa-telegram {
  color: white;
  font-size: 30px;
}

.fa-facebook,
.fa-github,
.fa-instagram {
  color: #df2020;
  font-size: 20px;
}

.categroy_item {
  transition: 0.4s;
}

.categroy_item:hover {
  transform: translateY(-15px);
}

.all_btn {
  background-color: #fff !important;
  border-radius: 5px;
  color: #df2020;
}

.product__img {
  transition: 0.4s;
}

.product__img:hover {
  transform: scale(1.2);
}