@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fcfcfc;
}

a {
  text-decoration: none;
  color: unset;
}

.fa-car,
.fa-shield-halved {
  color: #df2020;
}

.fa-telegram {
  color: white;
  font-size: 30px;
}

.fa-facebook,
.fa-github,
.fa-instagram {
  color: #df2020;
  font-size: 20px;
}

.categroy_item {
  transition: 0.4s;
}

.categroy_item:hover {
  transform: translateY(-15px);
}

.foodBtnActive {
  background-color: #fff !important;
  border-radius: 5px;
  width: 50px;
  height: 40px;
  margin-top: 20px;
  color: #df2020;
}

.PizzaBtnActive {
  background-color: #fff !important;
  border-radius: 5px;
  width: 90px;
  height: 40px;
  margin-top: 20px;
  color: #df2020;
}

.BreadBtnActive {
  background-color: #fff !important;
  border-radius: 5px;
  width: 90px;
  height: 40px;
  margin-top: 20px;
  color: #df2020;
}

.BurgerBtnActive {
  background-color: #fff !important;
  border-radius: 5px;
  width: 90px;
  height: 40px;
  margin-top: 20px;
  color: #df2020;
}

.product__img {
  transition: 0.4s;
}

.product__img:hover {
  transform: scale(1.2);
}

.cart_Item_list {
  height: calc(100vh-130px);
  overflow-y: scroll;
}


.cart_bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px 20px;
  width: 100%;
  height: 80px;
}

.common_section {
  background: linear-gradient(#212245b2, #212245b2), url('../src/Assets//images/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0px;
}



.paginationBttns {
  width: 80%;
  height: 40px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
  list-style: none;
  margin-top: 50px;
  margin-bottom: 50px;
}

.paginationBttns a {
  padding: 5px 13px;
  background: #212245;
  color: #fff !important;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 5px;
}

.paginationBttns a:hover {
  background: #df2020;
}

input::placeholder {
  color: gray;
}

@media only screen and (max-width: 992px) {
  .navigation {

    display: none;
  }

  .Show_menu {
    display: block;
  }
}